/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');

$font-stak : 'Spectral', serif;

* {
  font-family: $font-stak;
}

a {
  text-decoration: none;
}