<div class='container'>
  <div class='content'>
    <h1 class='title'>Welcome!</h1>
    <img class='profile'
      src='./assets/images/Juan_jo_profile_pic.jpg'
      alt='Profile picture'>
    <div class='bio'>
      <p>
        Hello! I'm Juan José Rendón (but feel free to call me '<i>Juan Jo</i>')
        <br>
        <br>
        From Medellín - Colombia, I'm a full stack developer, currently working at <a href='https://yuxiglobal.com'
          target='_blank'>Yuxi Global</a>. Passionate about technology and gadgets.
      </p>
    </div>
  </div>
</div>
